@use '../variables' as V;

.container {
    width: 98%;
    height: 300px;
    border-radius: 20px;
    color: V.$white;
    margin: 1rem auto;
    background-color: gray;
    background-image: url('../../public/assets/home/desktop/image-app-design.jpg');
    background-size: cover;
}

.container:hover {
    cursor: pointer;
}


.textContainer {
    z-index: 2;
    position: relative;
}

@media only screen and (max-width: 900px) {
    .container {
        background-color: gray;
        background-image: url('../../public/assets/home/tablet/image-app-design.jpg');
        background-size: cover;
        width: 100%;
        height: 200px;
    }
 
}

@media only screen and (max-width: 500px) {
    .container {
        background-color: gray;
        background-image: url('../../public/assets/home/mobile/image-app-design.jpg');
        background-size: cover;
        width: 100%;
        height: 250px;
    }
}