@use '../variables' as V;

.container {
    width: 78%;
    height: 252px;
    margin: 4rem auto;
    border-radius: 15px;
    background-color: V.$peach;
    background-image: url("../../public/assets/app-design/desktop/bg-pattern-intro-app.svg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-y: center;
    background-position-x: left;
    color: V.$white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.textContainer {
    width: 400px;
    margin-top: -1rem;
    h1 {
        font-weight: 400;
        font-size: 3rem;
    }
}