@use '../variables' as V;

.container {
    background-color: V.$peach;
    width: 78%;
    margin: 3.75rem auto;
    height: 640px;
    border-radius: 20px;
    background-image: url("../../public/assets/home/desktop/bg-pattern-hero-home.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position-y: center;
    background-position-x: right;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.leftContainer {
    width: auto;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
     margin-left: 10%;
}

.textContainer {
    width: 540px;
    height: 350px;
    color: V.$white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h1 {
        font-size: 2.5rem;
        font-weight: 400;
        width: 80%;
        line-height: 1;
    }
    p {
        margin-top: -1rem;
        width: 80%;
    }
    a {
        background-color: V.$white;
        color: V.$black;
        width: 152px;
        height: 56px;
        padding: 1rem 1.5rem;
        border-radius: 10px;
    }
    a:hover {
        background-color: #fcad9b;
        color: V.$white;
        cursor: pointer;
    }
}
.rightContainer {
    width: 400px;
    height: 100%;
   .imgContainer {
       position: relative;
       
       margin-top: 0%;
       right: 30%;
       width: 150%;
   }
}

@media only screen and (max-width: 1300px) {
    .textContainer {
        width: 400px;
        height: auto;
        h1 {
            width: 100%;
        }
        p {
            width: 100%;
        }
    }
}

@media only screen and (max-width: 1050px) {
    .container {
        flex-direction: column;
        height: 845px;
        background-size: 80%;
        background-position-y: center;
        background-position-x:  150%;
    }
    .leftContainer {
        width: 100%;
        margin: 0 auto;
    }

    .textContainer {
        width: 65%;
        height: 350px;
        align-items: center;
        text-align: center;
        margin: 2rem auto;
    }
    .rightContainer {
        width: 100%;
        display: flex;
        
        .imgContainer {
            top: -7.5rem;
            right: 0;
            left: calc(50% - 300px);
        }
    }

}

@media only screen and (max-width: 900px) {
    .container {
        width: 90%;
    }
    .textContainer {
        width: 70%;
        p {
            width: 90%;
        }
    }
}

@media only screen and (max-width: 650px) {
    .container {
        background-size: 150%;
        background-position-x:  0%;
    }
    .rightContainer {
        align-items: center;
        .imgContainer {
            top: -5%;
            left: 0;
            transform: scale(125%);
        }  
    }
    .textContainer {
            width: 90%;
        }
}

@media only screen and (max-width: 500px) {
    .rightContainer {
        .imgContainer {
            transform: scale(150%);
            top: 5%;
        }
    }
}

@media only screen and (max-width: 450px) {
    .textContainer {
        h1 {
            font-size: 2rem;
        }
        P {
            width: 100%;
        }
    }
    .rightContainer {
        .imgContainer {
            top: 15%;
        }
    }
}

@media only screen and (max-width: 375px) {
    .rightContainer {
        .imgContainer {
            transform: scale(175%);
            top: 17.5%;
        }
    }
}

@media only screen and (max-width: 325px) {
    .textContainer {
        h1 {
            font-size: 1.75rem;
        }
        P {
            width: 100%;
        }
        a {
            margin-top: 2rem;
        }
    }
}