@use '../variables' as V;

.container {
    width: 78%;
    height: auto;
    margin: 5rem auto;
    display: flex;
    justify-content: space-between;
}

.box {
    width: 32%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topContainer {
    display: flex;
    justify-content: center;
    background-image: url("../../public/assets/shared/desktop/bg-pattern-small-circle.svg");
    background-repeat: no-repeat;
    background-size: 202px;
    background-position-y: center;
    background-position-x: center;
}

.bottomContainer {
    text-align: center;
    color: V.$darkGrey;
    h3 {
        font-weight: 500;
        letter-spacing: 5px;
    }
    p {
        margin-top: 1.5rem;
        font-weight: 300;
        line-height: 1.5;
    }
}

@media only screen and (max-width: 900px) {
    .container {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .box {
        width: 100%;
        height: auto;
        flex-direction: row;
        margin: 1rem auto;
        align-items: center;
    }

    .topContainer {
        width: 202px;
        height: 202px;
    }

    .bottomContainer {
        width: 65%;
        height: auto;
        text-align: left;
        padding: 1rem;
    }
}

@media only screen and (max-width: 500px) {
    .box {
        flex-direction: column;
        margin: 2rem auto;
    }
    .bottomContainer {
        width: 100%;
        text-align: center;
    }

}