@use '../variables' as V;

.container {
    width: 78%;
    height: 252px;
    margin: 4rem auto;
    border-radius: 15px;
    background-color: V.$peach;
    background-image: url("../../public/assets/web-design/desktop/bg-pattern-intro-web.svg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-y: center;
    background-position-x: right;
    color: V.$white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.textContainer {
    width: 400px;
    h1 {
        
        font-weight: 400;
        font-size: 3rem;
    }
    p {
        margin-top: -1rem;
        margin-bottom: 3rem;
    }
}

@media only screen and (max-width: 900px) {
    .container {
        width: 90%;
    }
}

@media only screen and (max-width: 500px)  {
    .container {
        width: 100%;
        height: 320px;
        border-radius: 0;
        margin: 0 auto;
        background-size: 250%;
        background-position-y: 5%;
        background-position-x: right;
    }

    .textContainer {
        width: 90%;
        h1 {
            font-size: 2rem;
        }
    }
}