@use '../variables' as V;

.container {
    width: 78%;
    height: 252px;
    border: 1px solid red;
    margin: 4rem auto;
    border-radius: 15px;
    background-color: V.$peach;
    background-image: url("../../public/assets/web-design/desktop/bg-pattern-intro-web.svg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position-y: center;
    background-position-x: right;
}