@use '../variables' as V;

.container {
    width: 90%;
    height: 326px;
    margin: 0rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info {
    width: calc(100% - 376px);
    height: 100%;
    background-color: #FDF3F0;
    border-radius: 15px;
    background-image: url('../../public/assets/shared/desktop/bg-pattern-two-circles.svg');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    .textContainer {
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        h1 {
            margin-bottom: 1rem;
            color: V.$peach;
            font-weight: 500;
            font-size: 2.5rem;
        }
        ul {
            padding: 0;
            list-style: none;
            display: inline-block
            
        }
        li:first-child {
            font-weight: 600;
        }
        .listContainer {
            width: 85%;
            display: flex;
            justify-content: space-between;
        }
    }
}

.map {
    height: 100%;
    width: 350px;
    background-image: url('../../public/assets/locations/desktop/image-map-australia.png');
    background-repeat: no-repeat;
    border-radius: 15px;
}

@media only screen and (max-width: 1200px) {
    .container {
        margin: 8rem auto;
    }
    .info {
        .textContainer {
            width: 85%;
            .listContainer{
                width: 100%;
            }
        }
    }
     
 }

 @media only screen and (max-width: 1050px) {
    .container {
        height: 685px;
        flex-direction: column;
    }
    .info {
        width: 100%;
        margin: 1rem auto 0 auto;
        .textContainer {
            width: 75%;
            .listContainer {
                width: 75%;
            }
        }
    }

    .map {
        width: 100%;
        margin: 0 auto 1rem auto;
        background-image: url('../../public/assets/locations/tablet/image-map-australia.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

@media only screen and (max-width: 750px) {
    .info {
        .textContainer {
            width: 85%;
            .listContainer {
                width: 100%;
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .container {
        margin: 2rem auto;
        height: 714px;
    }
    .map {
        margin: 0 auto;
        border-radius: 0px;
        background-size: auto;
    }
    .info {
        min-height: 395px;
        margin: 0 auto;
        border-radius: 0;
        text-align: center;
        .textContainer {
            h1 {
                font-size: 2rem;
            }
            .listContainer {
                flex-direction: column;
            }
        }
    }
}