@use '../variables' as V;

.container {
    width: 78%;
    height: 480px;
    border-radius: 15px;
    margin: 2rem auto;
    background-color: V.$peach;
    background-image: url("../../public/assets/contact/desktop/bg-pattern-hero-desktop.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-y: bottom;
    background-position-x: left;
    color: V.$white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-direction: row;
}

.textContainer {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
    h2 {
        font-size: 3rem;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 0;
    }

}

.form {
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    input {
        width: 100%;
        background-color: transparent;
        border:none;
        border-bottom: 1px solid V.$white;
        padding: 20px 10px;
        outline: none;
        // margin: .5rem 0;
    }
    input::placeholder {
        color: #f3c0b5;
    }
    input:hover {
        color: V.$white;
        cursor: pointer;
        border-bottom: 3px solid V.$white;
    }
    .error {
        font-size: .75rem;
        margin-top: -2.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 125px;
        opacity: 0;
    }
    #error {
        opacity: 1; 
    }
    textarea {
        width: 100%;
        background-color: transparent;
        border:none;
        border-bottom: 1px solid V.$white;
        height: 126px;
        padding: 5px 10px;
        outline: none;
        resize: none;
        // margin-top: 2rem;
    }
    textarea::placeholder {
        color: #f3c0b5;
        font-family: 'Jost';
        padding-top: 1rem;
    }
    textarea:hover {
        color: V.$white;
        cursor: pointer;
        border-bottom: 3px solid V.$white;
    }
    .textareaError {
        font-size: .75rem;
        margin-top: -2.5rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        width: 125px;
        opacity: 0;
    }

    #textAreaError {
        opacity: 1;
    }



    button {
        margin: 2rem 0;
        display: flex;
        justify-content: center;
        background-color: V.$white;
        color: V.$black;
        width: 152px;
        height: 56px;
        padding: 1rem 3.25rem;
        border-radius: 10px;
        border: none;
        line-height: 2;
    }
    button:hover {
        background-color: #fcad9b;
        color: V.$white;
    }
}




@media only screen and (max-width: 900px) {
    .container {
        width: 90%;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        height: 711px;
        
    }
    .textContainer {
        width: 80%;
    }
    .form {
        width: 80%;
    }
}

@media only screen and (max-width: 500px) {
    .container {
        flex-direction: column;
        height: 764px;
        width: 100%;
        border-radius: 0;
        margin: 0 auto;
    }
    .textContainer {
        width: 80%;
        text-align: center;
        h2 {
            font-size: 2rem;
        }
    }
    .form {
        width: 80%;
        // align-items: center;
    }
}