@use 'variables' as V;

.container {
    position: relative;
    z-index: 3;
    margin: -5rem auto 0 auto;
    width: 78%;
    margin: 0 auto;
    height: 292px;
    border-radius: 20px;
    background-color: V.$peach;
    display: flex;
    align-items: center;
}

.flexContainer {
    border: 1px solid red;
    width: 90%;
    height: 80%;
    margin: 0 auto;
    display: flex;
}

.leftContainer {
    border: 1px solid gold;
    width: 50%;
    height: 100%;
}

.rightContainer {
    border: 1px solid green;
    width: 50%;
    height: 100%;
}