@use 'variables' as V;

.container {
    width: 78%;
    margin: 0 auto;
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.headerLogo {
    width: auto;
    display: flex;
    align-items: center;
    img {
        width: 200px;
        height: 24px;
    }
    img:hover {
        cursor: pointer;
    }
}

.nav {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: V.$darkGrey;
    font-size: .9rem;
    a:hover {
        text-decoration: underline;
        cursor: pointer;
    }
}

.mobileNav {
    display: none;
}

.mobileContainer{
    display: flex;
    align-items: center;
    display: none;
    img:hover {
        cursor: pointer;
    }
}

 @media only screen and (max-width: 900px) {
    .container {
         width: 90%;
     }
    .nav {
        width: auto;
        a {
            margin-left: 1.5rem;
        }
    } 
 }

 @media only screen and (max-width: 600px) {
    .nav {
        display: none;
    }
    .mobileNav {
        position: absolute;
        z-index: 5;
        background-color: V.$black;
        color: V.$white;
        top: 100px;
        left: 0;
        width: 100%;
        height: 235px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        a {
            font-size: 1.5rem;
            width: 90%;
            letter-spacing: 4px;
        }
        a:hover {
            color: rgba(255, 255, 255, .5);
        }

    }
    .mobileContainer {
        display: flex;
    }
 }