

.container {
    background-image: url("../public/assets/shared/desktop/bg-pattern-leaf.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-y: 25%;
    background-position-x: left;
}
