@use 'variables' as V;

.container {
    width: 78%;
    margin: 10rem auto;
    height: auto;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}

.box {
    width: 350px;
    height: 364px;;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 2rem auto;
}

.topContainer {
    display: flex;
    justify-content: center;
    background-image: url("../public/assets/shared/desktop/bg-pattern-small-circle.svg");
    background-repeat: no-repeat;
    background-size: 202px;
    background-position-y: center;
    background-position-x: center;
}
.bottomContainer {
    text-align: center;
    color: V.$darkGrey;
    height: auto;
    h3 {
        font-weight: 500;
        letter-spacing: 5px;
        margin: 2rem auto;
        padding-bottom: 1rem;
    }
    a {
        background-color: V.$peach;
        color: V.$white;
        width: 152px;
        height: 56px;
        padding: 1rem 1.5rem;
        border-radius: 10px;
    }
    a:hover {
        background-color: #fcad9b;
        color: V.$white;
    }
}

@media only screen and (max-width: 900px) {
    .container {
        width: 90%;
    }
}

@media only screen and (max-width: 500px) {
    .box {
        width: 100%;
    }
}

